*{
  
    margin: 0;
    padding: 0;
}
h1{
    color: #800080;
    text-align: center;
}
ul{
    text-decoration: none;
display: flex;
justify-content: space-evenly;
}
.li1{
    color: #8d0000;
}
.li2{
    color: #3f3fbf
}